.calc {
    background: rgb(231, 126, 143);
    color: rgb(43, 3, 48);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
input {
    background: rgb(158, 67, 143);
color: rgb(19, 1, 19);
border-radius: 5px;
padding: 5px;
}
#spTotal {
background: black;
color: rgb(228, 8, 173);
border-radius: 5px;
padding: 5px;
margin-bottom: 10px;
}
.calc button {
   background:rgb(158, 67, 143);
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
.calc button:hover {
    background:rgb(236, 112, 218);
     color: white;
    cursor: pointer;

 }
