.calc {
    background: rgb(58, 2, 46);
    color: rgb(192, 78, 207);
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 6px rgb(163, 100, 223);
}
.calc input {
    background: rgb(153, 51, 134);
    color: rgb(241, 223, 245);
    border-radius: 10px;
    padding: 5px;
}
.calc input:focus {
    background:rgb(124, 50, 112);
    color: blue
}
#spTotal {
background: rgb(209, 84, 235);
color: rgb(243, 238, 245);
border-radius: 5px;
padding: 5px;
margin-bottom: 10px;
}
.calc button {
    background: rgb(206, 48, 206);
    color: rgb(227, 213, 233);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
.calc button:hover{
    background: rgb(190, 96, 228);
    color: rgb(145, 93, 206);
    cursor: pointer;
}
#spLista {
    text-align: start;
    border-style: dashed;
    border-color: blueviolet;
    border-width: 1px;
    border-radius: 4px;
    background: rgb(199, 120, 252);
    color: rgb(110, 3, 250);
    margin-top: 10px;
}
.calcF {
    display:none;
}
#input-calcFin {
    display: none;
}
