.calc {
    background: rgb(235, 76, 200);
    color: rgb(252, 245, 251);
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 6px rgb(241, 177, 228);
}
.calc input {
    background: rgb(238, 135, 195);
    color: black;
    border-radius: 10px;
    padding: 5px;
}
.calc input:focus {
    background:rgb(233, 225, 232);
    color: rgb(20, 20, 20);
}
#spTotal {
background: rgb(238, 115, 228);
color: rgb(25, 2, 34);
border-radius: 5px;
padding: 5px;
margin-bottom: 10px;
}
.calc button {
    background: rgb(236, 9, 236);
    color: rgb(15, 15, 15);
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
.calc button:hover{
    background: rgb(243, 130, 224);
    color: rgb(20, 19, 20);
    cursor: pointer;
}
#spLista {
    text-align: start;
    border-style: dashed;
    border-color: rgb(238, 114, 238);
    border-width: 1px;
    border-radius: 4px;
    background: rgb(252, 250, 251);
    color: rgb(23, 23, 24); 
    margin-top: 10px;
}
.calcF {
    display: none;
}
#input-calcFin {
    display: none;
}
#input-calcFin:checked + .calc .calcF {
    display: block;
}
